<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671689776252-ajcsb0a6lf2kel2p2v112goimuoqdb4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671689776252-ajcsb0a6lf2kel2p2v112goimuoqdb4e</string>
	<key>API_KEY</key>
	<string>AIzaSyD9yO92_g46BJi8L9UIz_yk_gneDOM6xVw</string>
	<key>GCM_SENDER_ID</key>
	<string>671689776252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookathon.Dogfood</string>
	<key>PROJECT_ID</key>
	<string>dogfood-7f23c</string>
	<key>STORAGE_BUCKET</key>
	<string>dogfood-7f23c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671689776252:ios:6cd528951a0f29e734bdf9</string>
</dict>
</plist>